<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XXPopoverListView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB0C11081E5C17E9003C2F9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB0C11211E5C17EA003C2F9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB0C112C1E5C17EA003C2F9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
